<div class="container d-sm-flex justify-content-start mt-3 ms-5">
  <%= link_to "", root_path, class:"fas fa-angle-left fs-1 align-self text-decoration-none text-light me-3" %>
  <h2>BROWSING</h2>
</div>

<div class="container mx-2">
  <div class="cards">
    <% @costumes.each do |costume| %>
      <div class="index-card">
        <% if costume.photo.attached? %>
          <%=cl_image_tag costume.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "football.jpg" %>
        <% end %>
        <div class="index-card-infos">
          <div class="info-card">
            <h2><%= costume.name.upcase %></h2>
            <p>Size: <%= costume.size %></p>
          </div>
          <div class="price-card">
            <h2>¥ <%= costume.price %></h2>
            <p>per day</p>
          </div>
        </div>
          <p><%= link_to "", costume_path(costume), class:"card-link" %></p>
      </div>
    <% end %>
  </div>
</div>

<div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
