
<div class="container d-sm-flex justify-content-start mt-3 ms-5">
  <%= link_to "", root_path, class:"fas fa-angle-left fs-1 align-self text-decoration-none text-dark me-3" %>
  <h2>BROWSING</h2>
</div>

<div class="container mx-0">
  <div class="cards">
    <% @costumes.each do |costume| %>
      <div class="index-card">
        <img src="" >
        <div class="index-card-infos">
          <h2><%= costume.name.upcase %></h2>
          <p>Size: <%= costume.size %></p>
        </div>
        <div class="price-card">
          <h2>¥ <%= costume.price %></h2><p>per day</p>
          <p><%= link_to "", costume_path(costume), class:"card-link" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>