<h1>Owner::Bookings#index</h1>
<p>Find me in app/views/owner/bookings/index.html.erb</p>

<div class="container table-responsive-sm">
<table class="table table-light table-hover">
   <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer</th>
      <th scope="col">Cosplay</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Total</th>
      <th style="width: 14%" scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <th class="align-middle" scope="row">1</th>
      <td class="align-middle"><%= booking.user.email %></td>
      <td class="align-middle"><%= booking.costume.name.upcase %></td>
      <td class="align-middle"><%= booking.start_date %></td>
      <td class="align-middle"><%= booking.start_date %></td>
      <td class="align-middle"><%= booking.costume.price * ((booking.end_date - booking.start_date).to_i) %></td>
      <td class="align-middle"><div class="align-middle">
      <% if booking.pending? %>
              <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'approved'} %>
              <%= f.submit 'Accept', class: 'btn btn-info' %>
             <% end %>
             <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit 'Reject', class: 'btn btn-info' %>
             <% end %>
             <% else %>
                <p class='booking-tag'><%= booking.status %></p>
              <% end %></td>
              </div>
    </tr>
    <% end %>
      </tbody>
</table>
</div>
