<div class="container d-sm-flex justify-content-start mt-3 ms-5">
  <%= link_to "", :back, class:"fas fa-angle-left fs-1 align-self text-decoration-none text-light me-3" %>
  <h2>YOUR BOOKINGS</h2>
</div>
<div class="container mx-5">
  <%# nav bar %>
  <div class="navbar navbar-expand-sm navbar-light navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Confirmed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Completed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rejected</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">All</a>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
        </ul>
      </div>
    </div>
  </div>
</div>
<hr class="container mx-5 mt-0 mb-5">
<div class="container ms-5">
  <% @bookings.each do |booking| %>
    <div class="card-booking rounded-3 my-5">
      <% if booking.costume.photo.attached? %>
        <%=cl_image_tag booking.costume.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "https://i.kym-cdn.com/photos/images/original/001/419/425/b5a.jpg" %>
      <% end %>
      <%# <div class="index-card-infos"> %>
      <div class="grid w-100 h-80">
      <div style="display:flex; flex-direction:column;">
        <p>Purchased from <%= booking.costume.user.name %></p>
        <h1><%= booking.costume.name.upcase %></h1>
      </div>
        <%# <div class="container d-flex justify-content-between align-items-start"> %>
          <div class="text-end">
            <p>Total: </p>
            <h2>¥ <%= booking.costume.price * ((booking.end_date - booking.start_date).to_i) %></h2>
          <%# </div> %>
        </div>
        <div class="justify-content-start flex-column">
            <p style="font-size:small">From: <%= booking.start_date %></p>
            <p>To: <%= booking.end_date %></p>
        </div>
        <div class='text-end'>
          <p><%= link_to "Details", booking_path(booking), class: 'btn btn-primary px-5 py-2' %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
