<!DOCTYPE html>
<html>
  <head>
    <title>DankCosplays</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/5.0.2/typeit.min.js"></script>

  </head>
  <body>
   <%# <p class="notice"><%= notice %>
   <%# 　<p class="alert"><%= alert %>
   <div class="navbar navbar-expand-sm navbar-light navbar-dank">
      <div class="container-fluid"> 
        <a class="navbar-brand mx-3 mt-3" href="/">
          <h1>.DANK COSPLAYS</h1>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%# <%= form_tag costumes_index_path, :method => "get" do %> 
      <%# <%= text_field_tag :name, params[:name] %> 
      <%# <%= submit_tag("Search", :name => nil) %> 
      <%# <% end %> 

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <h4><%= link_to "BROWSE", costumes_path, class:"nav-link px-3" %></h4>
            </li>
            <li class="nav-item active">
              <h4><%= link_to "BOOKED", bookings_path, class:"nav-link px-3" %></h4>
            </li>
            <li class="nav-item">
              <h4><a class="nav-link px-3" href="#">COSPLAY OWNERS</a></h4>
            </li>
            <li class="nav-item dropdown px-3">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
          <!--li class="nav-item"-->
          <!--/li-->
        </ul>
      </div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
